@* <form asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input name="email" />
    </div>
    <div>
        <label>Mật khẩu</label>
        <input name="password" type="password" />
    </div>
    <button type="submit">Đăng nhập</button>
</form>
 *@