@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Users/_layoutClient.cshtml";
}

<h1>ĐÂY LÀ CLIENT </h1>